@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .grid-desktop {
    display: grid;
    grid-template-columns: repeat(8, minmax(0, 1fr));
    grid-gap: 20px;
  }

  .nav-mask {
    mask: linear-gradient(to bottom, black 100%, transparent);
  }

  .background-reveal {
    animation: reveal 2s forwards;
  }

  @keyframes reveal {
    0% {
      mask: linear-gradient(180deg, #000 25%, #000000e6 50%, #00000000) 150% 0 /
        400% no-repeat;
      opacity: 0.2;
    }
    100% {
      mask: linear-gradient(90deg, #000 25%, #000000e6 50%, #00000000) 0 / 400%
        no-repeat;
      opacity: 1;
    }
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --nav-height: 72px;
  --k-orange: #f0662e;
  --k-black: #171515;
  --k-gray: #b3b5b0;
  --k-lightgray: #f2f2f2;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-size: 24px;
  font-weight: 500;
}

main > section {
  margin-top: var(--nav-height);
}

p {
  line-height: 1.5;
}

svg * {
  @apply transition-colors;
  transition-duration: 0.2s;
}
